body{
    background:rgb(189, 234, 249);
}

fieldset{
    border-color: transparent;
    background: transparent;
}

.R1{
    background: linear-gradient(rgb(39, 189, 232), pink);
    border-radius: 100px;
    position: relative;
    width:50%;
    height:585px;
    float:right;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
}

img{
    position:absolute;
    height:90%;
    
}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/

.R2{
    height:585px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10px;
    width: 50%;
}

li{
    list-style: none;
}

h1{
    text-align:center
}
/*-------------------------------------------------------------------------------------------------------------------------------------------*/


.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .username, .password{
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    border:0px;
    background:rgb(100, 200, 255);
    width: 90%;
    height: 50px;
    margin: 1%;
  }

  input{
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    background: black;
    color: white;
    height: 30px;
  }

  .Contenedor{
    border: 2px solid black;
    border-radius: 5px 5px 5px 5px;
    background: white;
  }

  .Titulos{
    font-family: 'Lilita One', cursive;
  }