<!doctype html>
<html class="5" lang=es>

    <head>
        <meta charset="utf-8" />
        <title>
            LOGIN
        </title>
        <meta name="Descripción" content="Este sitio web es de prueba, nada que ver aqui (°_-)" />
        <meta name="Autor" content="Rick"/>
        <meta name="Keywords" content="Pagina de Prueba"/>  
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/LOGIN.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Lilita+One&display=swap" rel="stylesheet">
        <style type="text/css" media="screen">
        </style>
    </head>

    <body>
        <div class="R1">
          <img src="../static\imagenes\1200px-Logotipo_del_IMSS.svg.png" />
        </div>
        

        <div class="R2">


                <div class="Contenedor">

                  <div class="RecuadroInicio">
                      <div class="Titulos">
                      <hgroup>
                          <h1>LOGIN</h1>
                      </hgroup>
                      </div>
                  </div>

                  <div class="LOGIN">
                              <li class="campos">
                                  <form class="formulario">
                                    <fieldset class="inputs">
                                      <input  class="username"
                                              type="email"
                                              placeholder="Ingresa tu EMAIL"
                                              required>
                                      <input  class="password"
                                              type="password"
                                              placeholder="Ingresa tu contraseña"
                                              required>
                                    </fieldset>
                                    <fieldset class="actions">
                                      <input  onclick="location.href='/pacientes'" type="submit" class="submit" value="INGRESA" >
                                      <label>
                                      <input  type="checkbox"checked="checked">
                                        RECUERDAME
                                      </label>
                                    </fieldset>
                                  </form>
                              </li>
                  </div>
                  
                </div>
          </div>
        
    </body>

</html>