<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EXPEDIENTES DE PACIENTES - Consultorio Médico</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/est_pacientes.css') }}">
</head>
<body>
  <div class="container">
    <h2>EXPEDIENTES DE PACIENTES</h2>
    <form action="/pacientesguardar" method="POST">
      <label for="nombre">Nombre:</label>
      <input type="text" name="txtnombre" required>
      <label for="Ap">Apellido Paterno:</label>
      <input type="text" name="txtap" required>
      <label for="Am">Apellido Materno:</label>
      <input type="text" name="txtam" required>
      <label for="fechaNac">Fecha de Nacimiento:</label>
      <input type="date" name="txtfechanac" required>
      <label for="id_Enfermedad">Enfermedad:</label>
      <input type="number" name="txtidenfermedad" required>
      <label for="Antecedentes">Antecedentes:</label>
      <textarea type="text" name="txtantecedentes"></textarea>
      <button type="submit">Guardar</button>
    </form>
  </div>
</body>
</html>
